<h1>Hello World</h1>
<p>This is a rails app</p>

<br/><br/>
<% for x in @ID_List["data"] %>
    <% for mc in @my_coins %>
        <% if x["symbol"] == mc %>
            <!-- <%= x["id"] %></br> -->
            <% c = @coins["data"][x["id"].to_s] %>
            <%= c["name"] %>: $<%= c["quotes"]["USD"]["price"] %></br>
        <% end %>
    <% end %>
<% end %>