<h3>Crypto Currency Lookup</h3>
</br>

<!-- form_tag預設就是post, 不用指定 -->
<%= form_tag home_lookup_path do %>
  <%= text_field_tag "sym", nil, placeholder: "Enter Crypto Symbol", size: 50 %>
  <%= submit_tag "Lookup Stock Quote" %>
<%end%>

<%= @symbol %>